[2021-10-20 06:26] nomanmurtaza786 opened #1 "CameraPosition LatLng"
Hi Mate,
Thanks for fixing this plugin. I wonder how can we get the camera position lat lng in the result?
I trying to do this :
onCameraMove: (camPosition) {
                this.cameraPosition = camPosition;
              },

it works in the Google maps plugin but not working in this plugin.

[2021-10-20 14:22] #1 closed

[2021-10-20 14:24] nomanmurtaza786 opened #2 "usePinPointingSearch false keep loading"
I have marked usePinPointingSearch to false. After that loader keeps on loading
![Simulator Screen Shot - iPhone 13 - 2021-10-21 at 01 19 31](https://user-images.githubusercontent.com/14288484/138112072-4ca25801-b665-4f92-a62e-0935dc3a4ed2.png)
.

[2021-10-20 21:36] #2 closed

[2021-11-16 15:10] martin-braun opened #4 "The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.40 and higher."
Can you merge [#150@google_maps_place_picker](https://github.com/fysoul17/google_maps_place_picker/pull/150/) to your fork to fix this issue?

_Originally posted by @Chrg1001 in https://github.com/fysoul17/google_maps_place_picker/issues/140#issuecomment-970285447_

[2021-11-16 16:25] martin-braun commented on #4
@Chrg1001 Please get the new version and report if it was successful. :)

[2021-11-17 02:56] Chrg1001 commented on #4
@martin-braun It works! Thank you!

[2021-11-17 08:58] martin-braun commented on #4
@Chrg1001 You're welcome. :)

[2021-11-17 08:58] #4 closed

[2021-11-19 15:12] negiot opened #5 "FAILURE: Build failed with an exception."
Launching lib/main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...
../../development/flutter/.pub-cache/hosted/pub.dartlang.org/google_maps_place_picker_mb-2.0.0-mb.11/lib/src/autocomplete_search.dart:285:69: Error: Too few positional arguments: 2 required, 0 given.
        location: provider.currentPosition == null ? null : Location(lat: provider.currentPosition!.la

[2021-11-23 01:45] TimothyGCY commented on #5
I facing the same issue but temporary fixed by replacing `Location(lat: xxx, lng: xxx)` with `Location(lat_value, lng_value)` and wrap `url` with `Uri.parse()`

Note: This is not the best method to issue

[2021-11-26 09:51] negiot opened #6 "After place search, camera#animate doesn't work"
E/flutter (30152): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method camera#animate on channel plugins.flutter.io/google_maps_2)
E/flutter (30152): #&#8203;0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)
E/flutter (30152): <asynchronous suspension>
E/flutter (30152): #&#8203;1

[2021-12-07 14:30] martin-braun commented on #5
@negiot Can you please elaborate for me? Which AVD image are you using? In my tests everything works, even within the Android emulator. Also can you please test the issue with the base repository I forked from, so I know the issue was introduced by me or not?

@TimothyGCY Maybe you can give some more information why this is happening and I can take a deeper look into it. You could also do a PR wit

[2021-12-07 14:36] martin-braun commented on #6
Do you have created and inserted the API key in the keys.dart and AndroidManifest.xml? Could you also try to update the `google_*` packages and see if it helps?

[2021-12-07 15:03] TimothyGCY commented on #5
Hi, @martin-braun,
There is actually 2 parts of issues at here:
1. Kind of very straight forward, told from the error itself, variable `url` is not `Uri` but a `String`, so I just used ```Uri.parse(url)``` to solve that.
2. Datatype `Location()` issue, where there is no named parameters (I think that's what you called?)
In the code, `Location(lat: provider.cameraPosition!.target.latitude, lng: pro

[2021-12-07 15:33] martin-braun commented on #5
Your `google_maps_webservice` dependency should be `0.0.20-nullsafety.2` not `0.0.19`. The `Location` class as well as the usage of `httpClient` has been changed in `0.0.20-nullsafety.2`:

<img width="592" alt="Screen Shot 2021-12-07 at 16 16 52" src="https://user-images.githubusercontent.com/24259245/145057963-bd00b3ab-059e-488e-8237-a4b77f5e7daf.png">

<img width="733" alt="Screen Shot 2021-12-0

[2021-12-07 21:52] nikiman commented on #5
I confirm that with this configuration there are no more build errors:

<img width="336" alt="Schermata 2021-12-07 alle 22 48 56" src="https://user-images.githubusercontent.com/2759198/145111760-22e31b92-3f12-49b5-96b0-d20780cee324.png">

[2021-12-08 22:46] martin-braun commented on #5
Thanks for the feedback. Please update to `2.0.0-mb.13` to fix this issue.

[2021-12-08 22:46] #5 closed

[2021-12-20 21:58] berkekesikbas commented on #6
didn't help

[2022-01-08 19:48] martin-braun commented on #6
@negiot @berkekesikbas I cannot reproduce the issue. `MissingPluginExceptions` are not directly associated to the plugin's code. Try to test on real device. Android or iOS and which device exactly? `flutter doctor` results? Give me as much details as possible, please.

[2022-01-23 02:30] saigopin opened #7 "Blank screen is coming for Map and no search results"
Enabled Google Maps and Places API in console,
tested in bth real and emulator not working

[2022-01-23 22:23] martin-braun commented on #7
What does the phone console say? I.e. adb

[2022-02-01 15:10] martin-braun opened #8 "Current location takes 10 seconds to load on iOS"
@martin-braun thank you for your support your package is working but the current location button on iOS always takes 10seconds to 12seconds
can you please let me know how to fix it

PS: on android, the button working properly.

REGARDS

_Originally posted by @SmarterVision in https://github.com/fysoul17/google_maps_place_picker/issues/163#issuecomment-1026845468_

[2022-02-01 15:10] martin-braun commented on #8
@SmarterVision Can you please provide some more details (i.e. device logs when it happens)? I'm very busy right now, but I can try to check it out this week. Please also tell me if this is happening in the simulator and which device/simulator you've tested.

[2022-02-02 12:24] SmarterVision commented on #8
hi @martin-braun It is not working in my iPhone 12 (take 10 seconds to get my current location )
but t's working fine in the simulator (iPhone 12)

[2022-02-03 13:58] martin-braun commented on #8
@SmarterVision Can you please pull this project and run the example app (debug) on the device and [log the output](https://developer.apple.com/documentation/xcode/acquiring-crash-reports-and-diagnostic-logs#Access-Device-Console-Logs and share your relevant logs)?

I do not own an iPhone 12, thus I rely on your help now.

[2022-02-18 11:29] Wian-TMC opened #10 "Maps SDK (18.0.x) update by June for Android"
As of June 2022, the default renderer for Google Maps on Android is 18.0.x. As we are using this package which in turn uses Google Maps, is this a dependency applicable to this Repo, or is this related to the version of `google_maps_flutter` being used within this package?

If this package is dependent on the `google_maps_flutter` package, it might be wise to look out for this update and ensure th

[2022-02-24 11:16] gsoykan commented on #8
Hey! @SmarterVision @martin-braun  you can check my solution for this on [original repos issue](https://github.com/fysoul17/google_maps_place_picker/issues/43#issuecomment-1049752540).

[2022-02-24 12:18] martin-braun commented on #8
@gsoykan Thanks for your report and support, means a lot to me. I'd love to hear back from @SmarterVision in regards of this as well, since I updated the `geolocator` almost a month before @SmarterVision was reporting the issue.

I can only assume that he depended on version 7 on himself in some way. I close this and hopefully I don't have to re-open it. 😄

[2022-02-24 15:40] martin-braun commented on #8
@gsoykan Thank you for your great investigation and help, that means a lot to me.

I currently have some publishing issues here at the moment. Once they are solved and the next version is published I will close this issue as it should be solved then. Please pull the new version when it's ready, then you can remove your dependency to the `geolocator` again.

[2022-02-25 11:43] martin-braun commented on #10
We have to keep an eye on this line of code: https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/google_maps_flutter/android/build.gradle#L38

Once this gets updated to version 18.x.x, I have to update `google_maps_flutter` to the version that is listed here ASAP: https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/google_maps_flutter/pubspec.yaml#L5

[2022-02-25 13:58] xyzbilal opened #11 "return LatLng from picked location"
Hi. is there any chance to get coordinates from picked location on map.

[2022-02-25 16:10] martin-braun commented on #11
Hi, this is a duplicate of #3. Should answer your question. :)

[2022-02-25 16:10] #11 closed

[2022-02-27 08:16] xyzbilal commented on #11
thanks for info.

[2022-03-03 06:11] manpreetpatil opened #12 "Searched address not reflected on map"
**Describe the bug**
Search location by move pin working fine but when i search and select address from autocomplete then selected address first reflect on map and then after few second it override with current address. I've tested this on Android. I've latest version of plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. Search location
2. select address from autocomplete
3. searched ad

[2022-03-03 13:27] AhmadRehan71 opened #13 "Search bar is overlapped with search results when typing"
When user type in the search bar the search results dialog overlap on the search bar, and the content on the search bar field is no more visible to user.

[2022-03-05 20:38] martin-braun commented on #8
New version 2.0.0-mb.14 is up. Pull it and it should be fixed without the need of a more recent `geolocator` package in your pubspec.

[2022-03-05 20:38] #8 closed

[2022-03-05 20:40] martin-braun commented on #13
Yes, I have seen this on the original repo in https://github.com/fysoul17/google_maps_place_picker/issues/159 and I want to address this when I have some time for it.

[2022-03-05 20:45] martin-braun commented on #7
Closed for lack of details.

[2022-03-05 20:45] #7 closed

[2022-03-05 20:47] martin-braun commented on #6
Sorry I need to close this for the lack of details, please reply me if the issue is not fixed by the latest version and I will reopen and try to reproduce again. Please let me know the device you test on and the logs (incl. adb or console).

[2022-03-05 20:47] #6 closed

[2022-03-05 20:51] martin-braun commented on #12
I remember this bug and I remember that I fixed it in this version. Are you sure you pulled the MB version? (`2.0.0-mb.14` is current)

I tried to reproduce this on my device again, but it's working for me. Can you please tell me on which device you are testing? I would really appreciate if you could upload a screen recording if this is happening on `2.0.0-mb.14`.

[2022-03-06 17:04] martin-braun commented on #13
Try with the recent build (mb 15). Should work now. :)

[2022-03-06 17:04] #13 closed

[2022-03-07 06:05] AhmadRehan71 commented on #13
@martin-braun  Thanks it works

[2022-03-20 21:23] #12 closed

[2022-03-30 13:46] poqueque opened #15 "Some locations fail silently"
Some locations from Search bar fail. The cursor just moves a bit and it shows an error on console.

**To Reproduce**
1. Go to Search Bar
2. Search for this location: "Wallmart Supercenter, American Boulevard East, Bloomington, MN, USA"
3. Click on location found
4. The cursor does not move to expected location
5. This error appear on console:

[code]

Tested with v2.0.0-mb.15 on iOS and Android.

[2022-04-03 23:04] martin-braun commented on #15
For me it is working without problems on my Pixel 3A device as well as on the iPhone Simulator:

![2022-04-04 12 49 23 AM](https://user-images.githubusercontent.com/24259245/161452219-b9c19b91-3ffa-4f2f-8c5f-04a7d1bd363a.gif)

Could you please run the example app in this repo and set a break-point here: https://github.com/martin-braun/google_maps_place_picker_mb/blob/master/lib/src/place_picker.da

[2022-04-05 09:46] poqueque commented on #15
Working without problem right now. Yes, it looks like it was a bug on Google end that it's already fixed...

[2022-04-05 10:02] martin-braun commented on #15
Awesome, thanks for reporting back. :)

[2022-04-05 10:02] #15 closed

[2022-04-13 17:33] gtu-myowin opened #16 "Map not showing on iOS but on Android"
**Describe the bug**
The map picker isn't show on iOS. It only shows circular progress indicator. No error was shown in "Debug Console" either. It is working fine on Android and I see no issue so far.

**To Reproduce**
1. Install the package
2. Try the sample "Basic Usage" code given in package's read me section.

**Screenshots**
[Simulator Screen Shot - iPhone 13 Pro Max - 2022-04-13 at 23 25 18]

[2022-04-14 07:31] gtu-myowin commented on #16
Turns out, the issue is only on simulator. The map works fine on real device. Even on simulator, disabling "useCurrentLocation" would makes it work like mentioned in this comment https://github.com/fysoul17/google_maps_place_picker/issues/43#issuecomment-1049752540

[2022-04-14 07:37] gtu-myowin opened #17 "How to get user's chosen maptype?"
I saw that this package is using provider to set and get maptype. Is there any way to get the user's chosen maptype on "onPlacePicked" callback?

I want this feature because I would like to use the exact map type the user was chosen while picking the location.

Thank you in advance.

[2022-04-16 14:47] martin-braun commented on #17
Hi @gtu-myowin, I don't think to.

`PickResult` will be built out of `GeocodingResult` or `PlaceDetails` (Google API) which doesn't provide such information as far as I am aware of.

However, if we expose the provider and expand it with an `getMapType` function it should be possible to read out the map type after picking a place.

I have to look into it when I have more time, though.

[2022-04-16 14:48] martin-braun commented on #16
I will later test on the Simulator with `userCurrentLocation` being `false`, but this really has little priority if it only affects Simulators.

[2022-04-18 10:23] gtu-myowin commented on #16
No problem! It's only a matter of time to find the solution ;)

[2022-04-18 10:25] gtu-myowin commented on #17
Noted with thanks!

[2022-04-21 00:10] martin-braun commented on #17
@gtu-myowin Please update to `2.0.0-mb.16`. You can now track changes by subscribing to a new event on the `PlacePicker` like so:

[code]

[Full example](https://github.com/martin-braun/google_maps_place_picker_mb/blob/master/example/lib/main.dart#L89)

Have fun! :)

[2022-04-21 00:10] #17 closed

[2022-04-21 00:15] martin-braun commented on #16
@gtu-myowin I tried to reproduce it using the [example project](https://github.com/martin-braun/google_maps_place_picker_mb/tree/master/example). Please clone this repository and confirm the issue this way. All I did was changing `useCurrentLocation: true,` to `useCurrentLocation: false,` and then running the example project in the iPhone SE Simulator.

Could you please reproduce the same to confi

[2022-04-22 15:50] gtu-myowin commented on #16
@martin-braun Thank you for your fast replies. This is exactly why I chose your version of this package.

Sorry for late reply because I didn't get new notifications for new replies. I have cloned and try to run it on simulator and emulator but I got following errors on both and the app won't run.

<img width="1440" alt="Screen Shot 2022-04-22 at 10 13 30 PM" src="https://user-images.githubusercon

[2022-04-22 16:30] martin-braun commented on #16
@gtu-myowin Have you done the preparation steps described in the [README of the example project](https://github.com/martin-braun/google_maps_place_picker_mb/blob/master/example/README.md)?

Without it you will have missing files. You have to supply your own API keys by copying the `.example` files. The "Android embedding v2" message is a false message resulting in the fact that the `AndroidManifes

[2022-04-23 06:42] gtu-myowin commented on #16
Yes, I did add my own android & iOS key in keys.dart which was renamed from keys.dart.example. I do not mind the embedding error but the app won't run. I think it is because of version `2.0.0-mb.16`. I updated your package in my project as mentioned in https://github.com/martin-braun/google_maps_place_picker_mb/issues/17#issuecomment-1104568750 and  the app won't run anymore too. I revert the upda

[2022-04-23 11:54] martin-braun commented on #16
@gtu-myowin Did you also create the `AndroidManifest.xml` and `AppDelegate.swift`? Your output literally said it's missing the `AndroidManifest.xml`. It's three files in total that need to be created.

I have trouble to get that, because things work on my end with `2.0.0-mb.16`.

No matter which version you launch (15 or 16), is the map loading in the iPhone Simulator, please?

[2022-04-25 06:21] gtu-myowin commented on #16
Sorry, I didn't realized that there were two more .example file there. Now I can run the app but `Load Google Map in Container` doesn't work with or without `useCurrentLocation: true`. By doesn't work, I mean it is endlessly show the `CircularProgressIndicator`.

`Load Google Map` works without `useCurrentLocation: true` but not with that enabled as mentioned in original thread. But even with `use

[2022-04-25 14:24] martin-braun commented on #16
@gtu-myowin Thank you for testing. Can you share the output of the console? The Google Maps API might report some issues here we can learn about.

Thanks in advance.

[2022-04-26 03:13] gtu-myowin commented on #16
As I mentioned I got no log in both vscode and xcode as well. Not even a warning message.

[2022-04-28 12:47] martin-braun commented on #16
@gtu-myowin When I debug from VSCode and tap on "Load Google Map" I get this in the Debug Console of VSCode:

[code]

By saying "no log" you mean there is no more output after `✓  Built build/app/outputs/flutter-apk/app-debug.apk.`?

[2022-04-28 15:41] martin-braun commented on #10
@Wian-TMC The changes have been done, thus I updated the packages, thus the new Maps SDK is being used. Please update and kindly report back (if there are more problems). :)

[2022-04-28 15:41] #10 closed

[2022-04-29 04:14] gtu-myowin commented on #16
By no log I mean, when loading the map. But since you are talking about full log, here is the xcode log

[code]

And here is the vscode log. The simulator looks like this on both vscode and xcode when loading the map

<img width="1440" alt="Screen Shot 2022-04-29 at 10 42 34 AM" src="https://user-images.githubusercontent.com/2696343/165884333-e7dc432d-352b-4b64-9057-41291bd5c8f5.png">

[2022-05-01 22:23] martin-braun commented on #16
@gtu-myowin Thanks. You see, this is why sharing logs is so important. And indeed, those Xcode logs are really what was necessary to track down the issue. I'm disappointed that such error didn't appear in the normal Flutter Debug logs:

[code]

This is really coffin. The `geolocator` is raising an internal exception and my guess is, that it will jump out of the code, so the rendering of the map is

[2022-05-03 06:10] gtu-myowin commented on #16
Hi @martin-braun, thank you for your researches. I really appreciate it! I tried enabling custom location in Simualtor and yes, the loading indicator disappear but the map is still like in this https://github.com/martin-braun/google_maps_place_picker_mb/issues/16#issuecomment-1108123614. It's blank!

I think you can just add it in read me section so that people would know it is because of the simu

[2022-05-04 02:53] martin-braun commented on #16
@gtu-myowin And I thank you for helping to investigate this issue, even when it has low priority. You say the example works on version `2.0.0-mb15`, but not on `2.0.0-mb16`. So if you [download `mb15`](https://github.com/martin-braun/google_maps_place_picker_mb/tree/f1d87912e7a6af934a37c034c0d485e97654df69) the example app within it should work.

Then you could slowly add the [changes I made](http

[2022-05-04 08:02] zakblacki opened #19 "pub get upgrade dependencies not working"
This  has ben going for awhile every new version pub get google_maps_place_picker_mb: ^2.0.0-mb.17 will not work kindly fix these versioning issues

![image](https://user-images.githubusercontent.com/29728429/166643106-6a823a5f-8947-4fc1-8ba0-4e9538eb0d56.png)

[2022-05-04 22:28] martin-braun commented on #19
@zakblacki Unfortunately, I don't think this has anything to do with this package, I'm not responsible for connectivity issues between you and the pub.dev servers and the servers don't belong to me.

If you visit https://pub.dev/packages/google_maps_place_picker_mb/versions, you should be able to verify that versions are properly uploaded. If you have issues in generell, you could bypass this issu

[2022-05-04 22:30] #19 closed

[2022-05-05 14:13] martin-braun opened #20 "Map not animating to the location when picking from dropdown."
https://stackoverflow.com/a/72052990/8631092

**Describe the bug** When a user tries to search on the search bar, he either enters or choose the location from the suggestions below, the maps refreshes for a bit and then just stays where it was before. The result gets updated but the map does not animate to the location selected.

**To Reproduce** I'm providing a gist to the dart file where I'm usi

[2022-05-05 14:13] martin-braun commented on #20
https://stackoverflow.com/a/72052990/8631092

issue solved from this fix

_Originally posted by @Milinda1313 in https://github.com/fysoul17/google_maps_place_picker/issues/125#issuecomment-1118459911_

[2022-05-13 04:41] holy-dev opened #21 "Flutter 3.0.0 Migration"
**Describe the bug**
Not working with Flutter 3.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Build

[2022-05-13 12:59] brianmutiso commented on #21
Because google_maps_place_picker_mb >=2.0.0-mb.2 depends on location from hosted and kizusi depends on location from git, google_maps_place_picker_mb >=2.0.0-mb.2 is forbidden.
So, because kizusi depends on google_maps_place_picker_mb ^2.0.0-mb.16, version solving failed.
pub get failed (1; So, because kizusi depends on google_maps_place_picker_mb ^2.0.0-mb.16, version solving failed.)

[2022-05-13 13:00] brianmutiso commented on #21
Because google_maps_place_picker_mb >=2.0.0-mb.2 depends on location from hosted and project depends on location from git, google_maps_place_picker_mb >=2.0.0-mb.2 is forbidden.
So, because project depends on google_maps_place_picker_mb ^2.0.0-mb.16, version solving failed.
pub get failed (1; So, because project depends on google_maps_place_picker_mb ^2.0.0-mb.16, version solving failed.)

[2022-05-14 09:44] martin-braun commented on #21
Google released 3.0.0 without releasing it on the beta channel first, so I had no chance to test it other than using their master branch, which is really painful to deal with. I will look into this, soon.

If you need to compile, please consider to look into [fvm](fvm.app) to get your app running and working in the meantime.

[2022-05-14 10:47] #21 closed

[2022-05-23 19:18] SaloniSS opened #22 "FAILURE: Build failed with an exception."
== Building for Android ==

Running "flutter pub get" in clone...                               3.0s

Building without sound null safety
For more information see https://dart.dev/null-safety/unsound-null-safety

Running Gradle task 'bundleProdRelease'...
lib/entry.dart:50:22: Warning: Operand of null-aware operation '!' has type 'SchedulerBinding' which excludes null.
 - 'SchedulerBinding' is from

[2022-05-23 23:18] martin-braun commented on #22
This might be related to https://github.com/fysoul17/google_maps_place_picker/pull/172 and there is a [solution](https://github.com/fysoul17/google_maps_place_picker/pull/172/commits/afeaadbda26c1d61f7c44c1f47fb873db4feece2) that one can attempt to apply. I will have a look in the next days, but you could attempt to apply this yourself and if it works you could make a PR to speed things up.

Highl

[2022-05-23 23:36] martin-braun commented on #22
Related to https://github.com/fysoul17/google_maps_place_picker/issues/173 and this is probably the fix: https://github.com/fysoul17/google_maps_place_picker/pull/172/commits/afeaadbda26c1d61f7c44c1f47fb873db4feece2

I will look into this within the next few days, but if this can't wait, maybe you can apply those changes and make a PR? If you don't reformat the code, I can happily merge this witho

[2022-05-26 01:10] martin-braun commented on #22
Hey @SaloniSS, it should compile now.

[2022-05-28 09:30] yigitcevik opened #23 "Method 'addPostFrameCallback' cannot be called on 'WidgetsBinding?'"
Hello, I installed the package using the specified paths and used the sample code you provided. When I try to run the application, I get the following error. How do I resolve this error?

![mappickererror](https://user-images.githubusercontent.com/38765433/170819587-fd73c09d-2813-4d46-8daf-9b50c4ace7d3.png)

[2022-05-28 11:20] martin-braun commented on #23
Can you please try to update Flutter to `3.0.1` or use `mb.18` for now. There were recent breaking changes in Flutter, so we have to introduce breaking changes for past versions as well, see #22.

[2022-05-28 12:14] yigitcevik commented on #23
I got the same problem when I did mb18 but when I updated Flutter the problem went away. Right now, the map opens properly. However, when I searched for an address and selected it, I encountered the following error:
`No implementation found for method camera#animate on channel plugins.flutter.io/google_maps_8 `
Line 165 of the file C:\src\flutter\packages\flutter\lib\src\services\platform_channel.

[2022-05-28 12:21] yigitcevik commented on #23
It was fixed when I closed and opened the emulator completely. :)

[2022-05-28 12:57] sheikh112233 opened #24 "App crashed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. search location '...'
2. Click on check or tick button '....'
4. See error

**Expected behavior**
 App should come on previous screen instead of crash
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Flutter Doctor -v**

**Additional context*

[2022-05-28 16:43] yigitcevik commented on #20
@martin-braun The Example codes of the package are in "PickArea: CircleArea..." code available. This code has been converted to a comment line. When I opened this code and searched, I saw that the map moved to the selected address. However, when you open the code, I get a "Place not in area" error for the address I came from on the map.

[2022-05-28 18:29] martin-braun opened #25 "PickArea problem"
@martin-braun The Example codes of the package are in "PickArea: CircleArea..." code available. This code has been converted to a comment line. When I opened this code and searched, I saw that the map moved to the selected address. However, when you open the code, I get a "Place not in area" error for the address I came from on the map.

_Originally posted by @yigitcevik in https://github.com/mart

[2022-05-28 18:31] martin-braun commented on #25
@yigitcevik Pick area restricts your possible selection. If you want to avoid the "Place not in area" message, you should not define the pick area. Please elaborate what your problem is, exactly. Thanks.

[2022-05-28 18:31] martin-braun commented on #20
@yigitcevik Please do not post in an issue that is not relevant to your issue, I replied on #25

[2022-05-28 18:35] martin-braun commented on #24
What is the error? I experience no crashes. Please share the full log. Where is your `flutter doctor -v` output? Also, if logs show nothing, can you please share device logs? On what device are you testing?

[2022-06-01 16:03] shanu95 opened #26 "selectInitialPosition: true is not working"
**Describe the bug**
Even with the added selectInitialPosition: true, it doesn't show the picked place when open the map first time. even change the location it doesn't show up floating card. Floating card is only show when i search a place.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2022-06-05 07:17] rehamalraee24 commented on #24
java.lang.NullPointerException
Attempt to get length of null array
java.nio.ByteBufferAsIntBuffer.put (ByteBufferAsIntBuffer.java:122)
com.google.maps.api.android.lib6.gmm6.vector.gl.buffer.n.i (n.java:2)
com.google.maps.api.android.lib6.gmm6.vector.gl.buffer.n.d (n.java:3)
com.google.maps.api.android.lib6.gmm6.vector.gl.drawable.d.s (d.java:2)
com.google.maps.api.android.lib6.gmm6.vector.gl.drawa

[2022-06-05 11:44] martin-braun commented on #24
- Please share the output of `flutter doctor -v`.
- Please tell me if this happens anytime or just sometimes.
- Could you please disable minifyEnabled and shrinkResources in your `gradle.build` to see if the crashes continue

Possible Ref:
- https://stackoverflow.com/questions/27253524/attempt-to-get-length-of-null-array-in-google-maps-v2-android-app
- Maybe a Java workaround: https://github.com/c

[2022-06-06 15:23] #23 closed

[2022-06-06 17:01] martin-braun commented on #26
Flutter Version `3.0.2-0.0.pre.2` is not listed for me. The current stable is `3.0.1` and the beta is `3.1.0`. I tested both versions and unfortunately, I cannot reproduce the issue in both versions on Android and iOS. The floating card appears immediately on start. Could you try to disable `useCurrentLocation` and see if the `initialPosition` will be selected, immediately?

Could you also try to

[2022-06-06 17:04] martin-braun commented on #16
All I can do now, since my hands are tied and I cannot reproduce any further issues regarding this. After all this is a Simulator-only issue at best. Thank you.

[2022-06-06 17:04] #16 closed

[2022-06-06 17:05] #25 closed

[2022-06-06 17:21] shanu95 commented on #26
I had tried with useCurrentLocation : false as you mentioned and it is picking the initial place immediately. And i'm sure that i havent added selectedPlaceWidgetBuilder property. I had added it as you mentioned and it is printing this only -> "state: SearchingState.Searching, isSearchBarFocused: false". My device is samsung s10e with Android 12 and Samsung One UI 4.1.
<img width="767" alt="Screen

[2022-06-06 17:33] shanu95 commented on #26
Check the screen recording here -> https://youtu.be/c83K2ceZSts

[2022-06-06 17:36] martin-braun commented on #22
@stuartmorgan Thank you, it seems I solved it by upgrading a dep then.

[2022-06-06 21:28] martin-braun commented on #26
So with `useCurrentLocation: false` everything works as expected?

I see how even dragging will not resolve the state. It should really print two states, but it seems it will never reach the `SearchingState.Idle` unless you go through the search bar. The state after init and camera drag will be set to idle within the `_searchByCameraLocation` function that is load when `selectInitialPosition` is t

[2022-06-07 04:21] shanu95 commented on #26
Yes it's working after enable the Geocoding API and Geolocation API. I had only enabled the sdk for ios/android and places API. I think it's better you mentioned to enabled those API's as well in the readme file. Thank you for the help.

[2022-06-07 04:21] #26 closed

[2022-06-07 17:07] martin-braun commented on #26
You are welcome, but [it is mentioned in the readme file](https://github.com/martin-braun/google_maps_place_picker_mb#getting-started), already. It's always useful to read the readme carefully, before opening an issue. You probably just missed that section.

[2022-06-08 07:46] kirilllapshev opened #29 "The text color of the items displayed in the Autocomplete list"
**Describe the bug**
I want to change the text color of the items displayed in the autocomplete, is it possible?

![Simulator Screen Shot - iPhone 13 - 2022-06-08 at 08 38 28](https://user-images.githubusercontent.com/63013314/172560588-6be46096-08d0-49ce-a4db-f1fc4dbff9aa.png)

[2022-06-08 11:40] kirilllapshev commented on #29
I found the solution by myself, it takes the bodyText2 style

[2022-06-08 14:20] #29 closed

[2022-06-10 06:14] anil-sookshum opened #30 "Custom selectedPlaceWidgetBuilder not updating selected place always return SearchingState.Searching true."
Trying to use a custom selectedPlaceWidgetBuilder with the PlacePicker widget as it always returns the "state
 == SearchingState.Searching" on location change on Map i.e drag to a new location.

Screen Recording: [place_picker_issue_with_custom_selectedPlaceWidgetBuilder](https://drive.google.com/file/d/19vWgoYjnR89AW1kIXUMQ5j5uVPhHqbuq/view?usp=sharing)

 Steps to replicate:
 - Run the Example Ap

[2022-06-10 06:40] Muraleedharank opened #31 "PickResult Variable selectedPlace intitialize error"
While loading the page it shows selectedPlace cannot be initialized.In the following section
 selectedPlace == null
                  ? Container()
                  : Text(selectedPlace.formattedAddress ?? ""),

[2022-06-13 00:14] martin-braun commented on #30
_Originally posted by @martin-braun in https://github.com/martin-braun/google_maps_place_picker_mb/issues/26#issuecomment-1147950228_

[2022-06-13 00:14] #30 closed

[2022-07-02 05:51] todosrc commented on #20
i have same issue , how to fix ?

[2022-07-04 09:19] martin-braun commented on #20
Please make a new issue explaining your issue in detail. Also give device info and `flutter doctor` output. Thanks.

[2022-07-04 15:52] martin-braun commented on #24
@TouseefAQ

[2022-07-08 13:51] mauriziopinotti commented on #24
The same happened to me as well, although it's not 100% reproducible. I think it's a race condition and depends on how fast the connection/device is capable of loading data: on my bench I can reproduce it 30% of the times by immediately confirming the place after geolocation finishes.

[2022-07-10 11:59] martin-braun commented on #24
@mauriziopinotti Could you please share the output of `flutter doctor -v` and tell me on what emulator/device you are testing, including its API and bit architecture?

[2022-07-11 07:00] mauriziopinotti commented on #24
Sure, here's the output of `flutter doctor`:

[code]

I reproduced the issue on emulator Pixel 4 API 30 Android 11 x86_64 but also on various real devices (Galaxy S21 and others).

[2022-07-11 09:50] martin-braun commented on #24
@mauriziopinotti Thank you, I was able to re-produce the issue eventually. The problem was that my build.gradle of my example app was still on "compileSdkVersion 32". Rising it to 33 causes the app to crash. I will find a problem to the fix and get back to you ASAP. I hope others in this thread will look at your post and understand how important it is to share the details that I request to find a

[2022-07-11 12:08] martin-braun commented on #24
@mauriziopinotti It's hard to band-aid, let me tell you that. As you can read in the linked issue, the problem is a time-issue as you realized. I should've been more patient, it only happens to me in debug mode, when I pick a place immediately without waiting too long. I suspect the Google Maps component still messing with an array that it's navigation-aware logic nulls on pop.

I doubt that I can

[2022-07-11 12:29] martin-braun commented on #24
@mauriziopinotti Sure thing. Before we decide to report more details on their end (what they have to read and process), I want to clear things up on our end.

You said, over there. Seems weird to me, since our `PickResult` is part of this repo and not theirs. I out-commented `selectedPlace = result;` in the callback and still got the crash after 30 tries, you might just had some luck on testing to

[2022-07-11 13:50] martin-braun commented on #24
I investigated the wrapper (Flutter and Java part) and I don't see a way to prevent this issue. Further research shows that it's even a thing on ReactNative. Luckily the bug was reported to Google's issue tracker and hopefully it gets addressed ASAP. Unfortunately, any possible band-aid that comes into my mind cannot be applied here, since the exposed API is too limited. The `onMapCreated` callbac

[2022-07-11 21:14] dpedrinha opened #32 "Getting search results from other countries only"
**Describe the bug**
I'm in Brazil and I'm having a very hard time getting local results. All the results are from other countries. Sometimes they don't even fit the search criteria.

**To Reproduce**
Steps to reproduce the behavior:
Set the emulator location to somewhere in Brazil (I'm using -16.127842, -52.481918).
Use the initialPosition LatLng(-16.127842, -52.481918)
Run the plugin and search

[2022-07-12 05:05] martin-braun commented on #32
I'm confident that this is solely an emulator problem, but I will investigate nonetheless when I have time for it. Thank you for your report.

[2022-07-12 07:38] Wian-TMC commented on #24
Awesome feedback!!!

[2022-07-12 08:32] Wian-TMC opened #33 "Geolocator dependency bump to 9.0.0"
Just a heads up to update dependency for geolocator to 9.0.0

[2022-07-12 11:48] martin-braun commented on #33
@Wian-TMC I'm aware of this and we have to do it sooner or later to support `compileSdkVersion 33` and up, but I cannot upgrade the package unless I drop support for Flutter 2, which I try to avoid as long as possible. Please check [this issue](https://github.com/Baseflow/flutter-geolocator/issues/1084) to get more details.

[2022-07-12 12:02] Wian-TMC commented on #33
Cool! Let's wait and see

[2022-07-12 12:09] martin-braun commented on #24
Here is a [temporary fix](https://github.com/flutter/flutter/issues/105965#issuecomment-1181637402). Unfortunately, I cannot apply it to my repository, but you can fix the problem by inserting the following to your pubspec.yaml:

[code]

I recommend you to subscribe to this issue here, I will inform you when this has been fixed by the Google team, so that you can remove those lines again.

Disclai

[2022-07-12 12:58] martin-braun commented on #31
- Could you please copy paste the error for me?
- Could you also paste the output of `flutter doctor -v`?
- Could you tell me on which device/emulator you are testing?
- Could you tell me the exact steps to reproduce?

[2022-07-12 12:58] dpedrinha opened #34 "Can't reproduce one of the configuration steps"
**Describe the bug**
I can't find this part from the Quick Start guide and readme:
`In addition, you need to add the Background Modes capability to your XCode project (Project > Signing and Capabilties > "+ Capability" button) and select Location Updates.g>This app needs access to location when open and in the background.
`
I can't find the "Location Updates".

[2022-07-12 13:02] dpedrinha commented on #32
I've tested on my device and the problem persists.

I found out the predictions api may use an optional parameter to set the region code to restrict results. I'll try using it and see if the results are improved.

[2022-07-12 13:22] dpedrinha commented on #32
That's it.

Using the `region `parameter fixed the problem. Now I'm getting relevant results.

I thought the api would use our location automatically for that. Weird that it doesn't.

[2022-07-12 13:22] #32 closed

[2022-07-12 13:37] #34 closed

[2022-07-12 14:03] martin-braun commented on #32
@dpedrinha Great. Can you share the detailed steps so others who have the same problem and find this issue know how to fix it in detail? I.e. where to add the `region` parameter exactly. A code sample shall be appreciated.

[2022-07-14 13:25] dpedrinha opened #35 "How to expose the Geometry object?"
Hi, this is not a bug, but I don't know how else to ask this.

I'm trying to get the lat and lng from the picker but the `Geometry` object returned from `result.geometry` doesn't autocomplete and I can't import it.

Here's what I'm doing:

[code]

[code]

Geometry throws Undefined class and there's no Geometry class to import. It should already be exposed by the plugin import but for some reason i

[2022-07-16 07:17] martin-braun commented on #35
You can access `result.geometry.location.lat` and `result.geometry.location.lng` directly. If you want to use the Geometry class (i.e. for passing it around), you have to add `google_maps_webservice: ^0.0.20-nullsafety.5` to your pubspec.yaml.

Pick predictions as well as detail data loading is done via http. I don't know why not and if Google provides better interfaces (by now), but the original

[2022-07-16 07:17] #35 closed

[2022-07-28 19:30] dpedrinha commented on #33
I'm having trouble continuing my project because of this.
One of my plugins require android compile sdk 33 and now these two plugins are conflicting.
To make things worse, I updated everything in an attempt to solve the problem (dart, flutter, android studio, plugins and etc).
Am I screwed?
I'm very bad at this kind of framework problems. Have no idea what to do. I'm stuck and it seems this plugin

[2022-07-31 11:29] martin-braun commented on #33
@dpedrinha I sorry for your inconvenience. I fixed this issue, but felt confident that we might get #24 pushed through. Unfortunately, we have to wait for Google. I pushed a new version `mb.21` which will use the Geolocator `9.0.1`. `9.0.0` is not supported for this package.

Good luck.

[2022-07-31 11:29] #33 closed

[2022-07-31 11:52] martin-braun commented on #31
Closed due to inactivity.

[2022-07-31 11:52] #31 closed

[2022-08-01 15:08] dpedrinha commented on #33
I'm able to compile now. Thank you very much.

[2022-08-05 05:15] sarmiladhandapani opened #36 "Marker not animating to new position on search"
**Describe the bug**
Marker not animating to new position on search

**To Reproduce**
Steps to reproduce the behavior:
1. Search for any place
2. Click on any place
3. Error comes

**Expected behavior**
When I click on any place name in the search result, the marker should animate to new position

**Screenshots**
**Before Search**
![Screenshot_1659676225](https://user-images.githubusercontent.com/

[2022-08-05 15:32] kafil27 opened #38 "HELLO AUTOCOMPLETE SEARCH IS NOT WORKING HERE IS THE CODE , EVERYTHING IS WORKING EXCEPT SEARCH"
IconButton(
                        icon: Icon(Icons.arrow_forward_ios_outlined, size: 20, color: Theme.of(context).textSelectionColor,),
                        onPressed: (){
                          Navigator.push(
                            context,
                            MaterialPageRoute(
                              builder: (context) =>

                                  PlacePicke

[2022-08-08 09:31] martin-braun commented on #36
@sarmiladhandapani Some devices seem to report this issue. This is a duplicate #6 and #20 and it seems the issue is caused by the fact that the map will be re-built when your keyboard hides after picking a place from the list.

I close this in favor of continuing the discussion at #20.

[2022-08-08 09:31] #36 closed

[2022-08-08 09:35] martin-braun commented on #20
@sarmiladhandapani The fix was described here: [stackoverflow.com/a/72052990/8631092](https://stackoverflow.com/a/72052990/8631092)

I'm not sure if you can implement this fix on your consuming application, but your `flutter doctor -v` output and device info at #36 shall be helpful.

Device: Pixel 5 API Thiramisu
Flutter version 3.0.1

[2022-08-08 09:36] martin-braun commented on #6
@negiot, @berkekesikbas I got some further details to investigate. Please follow #20 to get updates on this issue.

[2022-08-08 15:57] martin-braun commented on #38
Follow [the instructions](https://github.com/martin-braun/google_maps_place_picker_mb#getting-started) carefully. If it doesn't work despite following the instructions, make a new issue by using the [bug report template](https://github.com/martin-braun/google_maps_place_picker_mb/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2022-08-08 16:04] #38 closed

[2022-08-09 06:07] martin-braun commented on #20
This issue is a big one. Melinda's fix to convert the widget into a stateful widget by using a wrapper has no effect. The issue boils down to this:

When you change the device orientation or enter the search bar (which will show the keyboard) you will get redraws. Those redraws will re-render the map. If you select a target from the dropdown, the keyboard will be hidden and the code tries to anima

[2022-08-09 12:13] martin-braun commented on #20
@negiot, @berkekesikbas, @sarmiladhandapani, after many hours of debugging I finally found the root cause for the problem and fixed it as good as possible. If you update to `mb.22` the issue should be solved.

If you care about what've happened and related issues we still face beyond this one, read on:

The original author thought it was a good idea to put a future within a future builder in a way

[2022-08-09 12:13] #20 closed

[2022-08-09 15:08] berkekesikbas commented on #6
Thank you for information.

[2022-11-04 19:06] giorgio79 commented on #24
Thx Martin for your efforts. This bug has been killing my app with 3% crash rate. Will try the git repo fix

[2022-11-04 19:11] giorgio79 commented on #24
Martin just tried this fix, but getting a dependency error, so looks like this git fix no longer applies...

`Because google_maps_place_picker_mb 2.0.0-mb.22 depends on google_maps_flutter ^2.1.10 and no versions of google_maps_place_picker_mb match >2.0.0-mb.22 <3.0.0, google_maps_place_picker_mb ^2.0.0-mb.22 requires google_maps_flutter from hosted.`

[2022-11-09 12:43] hardiklakhalani commented on #2
Same issue here.
plus I'm seeing this as well..

![image](https://user-images.githubusercontent.com/82162165/200833343-3a2ab4f0-8e24-4e0d-a39e-f40833bcda82.png)

[2022-11-10 16:01] martin-braun commented on #2
@hardiklakhalani You should properly setup all the APIs on the Google Cloud. Please work yourself through the README.